.container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f0f4f8; /* warna latar konten */
}

h1 {
  color: #1E3A8A; /* biru */
}

ul li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}