.container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fefce8; /* latar berbeda supaya terlihat */
}

h1 {
  color: #B45309; /* cokelat gelap */
}

ul li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}